.content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 120px;
    padding-bottom: 70px;
    gap:10px;
}
.head2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    gap: 2%;
}
.quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    gap:30px;
}